@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
* {
  /* font-family: 'Roboto', sans-serif; */
}
body {
  background-color: black;
}
@media screen and (min-width: 1200px) {
  /* .container{
    max-width: 1200px;} */
}

.navbar {
  padding: 0px 15px;
  z-index: 999;
  height: 60px;
  background-color: #120136;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
  max-height: 40px;
}
@media screen and (min-width: 768px) {
  .navbar-collapse {
    justify-content: space-between;
  }
}
@media screen and (max-width: 768.98px) {
  .navbar-btn {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding-top: 1rem;
  }
  #collapsibleNavbar {
    border-top: 1px solid gray;
  }
}
.privacy {
  margin-top: 60px;
  padding-bottom: 2px;
}
/* HotNews */
.section-title {
  margin-bottom: 10px;
}
.section-title h5 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  padding-left: 16px;
  position: relative;
  letter-spacing: 1px;
}
div.hs-text {
  padding-top: 150px;
  margin-bottom: 50px;
}
.hs-text .label {
  display: inline-block;
  padding: 5px 12px 4px 11px;
  background: rgba(194, 0, 0, 0.3);
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
.hs-text h3 {
  color: white;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 14px;
}
.hs-text h5 {
  color: white;
}
.section-title h5:after {
  position: absolute;
  left: 0;
  top: 6px;
  height: 15px;
  width: 11px;
  background: #c20000;
  content: "";
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
.hs-text .ht-meta ul {
  display: inline-block;
}
.hs-text .ht-meta ul li {
  list-style: none;
  font-size: 14px;
  color: #c4c4c4;
  font-style: italic;
  display: inline-block;
  position: relative;
  margin-right: 28px;
}
ul {
  padding: 0;
}
.hs-text .ht-meta img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.bg-top {
  background-image: url(../../images/news/greg-rakozy-0LU4vO5iFpM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 150px 0;
}

#hot-news {
  margin-top: 60px;
  display: flex;
  flex: 1;
  height: inherit;
  align-items: center;
}
#hot-news a {
  text-decoration: none;
}
.main-news h2 {
  font-size: 27px;
}
#hot-news p {
  font-size: 15px;
}
.main-news {
  display: flex;
  flex: 1;
  padding-right: 20px;
}
.main-news img {
  width: 100%;
  height: auto;
}
.main-content {
  color: white;
}
.side-news {
  display: flex;
  flex: 1;
  margin-top: 20px;
}
.tab-pane p,
.side-news p {
  margin-bottom: 0;
}
.column {
  display: flex;
  flex-direction: column;
}
.tab-pane img,
.side-news img {
  width: 100%;
  height: auto;
}
.thumb-nail {
  width: 40%;
}
.content .tab-pane a,
.content .side-news a {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  text-decoration: none;
}
.tab-pane .title,
.side-news .title {
  font-size: 20px;
}
.tab-pane .body,
.side-news .body {
  margin-left: 10px;
  color: white;
  width: 65%;
}

.body p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 70px;
}
.body h2.title {
  color: white;
  margin-bottom: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category {
  margin-bottom: 20px;
  padding-top: 10px;
}
.tab-pane .thumb-nail {
  width: 30%;
}
.content {
  display: flex;
  flex-direction: row;
}

.news-letter {
  display: flex;
  border: 1px solid rgb(107, 107, 107);
  height: inherit;
  width: inherit;
  background: #000
    url("https://astronomy.com/sitefiles/images/newsletter-box-bg.png") right
    bottom no-repeat;
}
.box {
  padding: 10px;
  margin-left: 5px;
}
.box span,
b {
  color: white;
}

.btn-submit {
  margin-left: 5px;
  /* transform: skewX( 
-15deg); */
  background-color: rgba(194, 0, 0, 0.3);
  border: none;
  color: white;
  height: 27px;
  width: 68px;
}

.privacy li,
.privacy p {
  color: white;
}
#input-email {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(83, 83, 83);
  outline: none;
  color: white;
}
.trending-post {
  background: rgb(0 0 0 / 70%);
  padding: 40px 28px;
}
/* .single-trending-item1,
.single-trending-item2 {
 
} */
.trending-slider.owl-carousel .owl-nav {
  position: absolute;
  right: 0;
  top: -40px;
}
.fa-clock {
  margin-right: 5px;
}
.trending-slider.owl-carousel .owl-nav button {
  font-size: 24px;
  color: #eaeaea4d;
}

.trending-slider.owl-carousel .owl-nav button:hover {
  color: #eaeaeae0;
}

.trending-slider.owl-carousel .owl-nav button.owl-prev {
  margin-right: 0px;
}

.trending-item {
  overflow: hidden;
  margin-bottom: 40px;
}

.trending-item:last-child {
  margin-bottom: 0;
}

.trending-item .ti-pic {
  float: left;
  margin-right: 20px;
}

.trending-item .ti-text {
  overflow: hidden;
}

.trending-item .ti-text h6 {
  margin-bottom: 4px;
}
.ti-pic img {
  width: 100px !important;
}
.trending-item .ti-text h6 {
  height: 45px;
  overflow: hidden;
}
.trending-item .ti-text h6 a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 60px;
  overflow: hidden;
}

.trending-item .ti-text h6 a:hover {
  color: #c20000;
}

.trending-item .ti-text ul li {
  font-size: 12px;
  color: #666666;
  font-style: italic;
  display: inline-block;
  margin-right: 22px;
  position: relative;
  font-style: italic;
}

.trending-item .ti-text ul li i {
  margin-right: 5px;
}

.trending-item .ti-text ul li:last-child {
  margin-right: 0;
}

.trending-item .ti-text ul li:last-child:after {
  display: none;
}

.trending-item .ti-text ul li:after {
  position: absolute;
  right: -14px;
  top: 2px;
  content: "/";
}
.ti-text span {
  font-style: italic;
}
.hero-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero-slider.owl-carousel .owl-dots {
  position: relative;
  left: 0;
  bottom: 160px;
  max-width: 1140px;
  margin: 0 auto;
}

.hero-slider.owl-carousel .owl-dots button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #676868;
  margin-right: 10px;
}

.hero-slider.owl-carousel .owl-dots button.active {
  background: #c20000;
}

.hero-slider .owl-stage-outer,
.hero-slider .owl-stage,
.hero-slider .owl-item,
.hero-slider .hs-item {
  height: 100%;
}

@media screen and (max-width: 991px) {
  #hot-news {
    display: flex;
    flex-direction: column;
  }
  .main-news {
    padding-right: 0;
  }
  .subcribe {
    margin-top: 15px;
  }
}

@media screen and (max-width: 991px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .news-letter {
    width: 100%;
    height: inherit;
    margin-left: 0;
  }
  .hs-text {
    padding-top: 50px !important;
  }
}

a:hover {
  text-decoration: none;
}
.hero-slider .owl-stage-outer,
.hero-slider .owl-stage,
.hero-slider .owl-item,
.hero-slider .hs-item {
  height: 100%;
}
.tab-elem {
  margin-top: 10px;
}
.tab-elem .nav-tabs {
  border: none;
}
.tab-elem .nav .nav-item {
  margin-bottom: 20px;
}

.tab-elem .nav-item .nav-link.active {
  color: #c20000;
  background-color: transparent;
  border-color: transparent;
}
.tab-elem .nav-item .nav-link {
  font-size: 14px;
  color: #c4c4c4;
  letter-spacing: 1px;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
  margin-right: 10px;
}
.latest-news {
  padding: 30px 0;
  background: linear-gradient(
    180deg,
    rgb(0 0 0) 0%,
    rgb(0 0 0) 80%,
    rgba(26, 36, 48, 1) 100%
  );
}
@media only screen and (max-width: 767px) {
  .tab-elem .nav-tabs {
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 20px;
  }
  .tab-pane .thumb-nail {
    width: 40%;
  }
}
.pagination-item button {
  border: none;
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  background-color: #191919;
  padding: 8px 18px 6px;
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
  margin-right: 8px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.pagination-item button:hover {
  color: white;
  background-color: #c20000;
}
.social-media {
  margin-top: 15px;
}
.social-media ul li {
  border: 1px solid #222222;
  font-size: 14px;
  color: #ffffff;
  list-style: none;
  height: 46px;
  line-height: 46px;
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
  padding: 0 18px 0 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 15px;
}
.social-media ul li .sm-icon {
  display: inline-block;
  padding: 0 20px 0 18px;
  background: #252525;
  height: 2.76rem;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.social-media ul li span {
  display: inline-block;
}
.social-media ul li .follow {
  display: inline-block;
  float: right;
}

.social-media ul li:hover {
  border-image: linear-gradient(to right, #0a51a1, darkorchid, #f64f59) 1;
}
.social-media ul li:hover .sm-icon {
  background-color: #0a51a1;
  /* border: 0 solid transparent;
  background: 
    linear-gradient(to right, darkblue, darkorchid) border-box; */
}
.social-media a {
  color: white;
}
.tab-pane a:hover .body .title {
  color: #c20000;
  transition: all 0.4s;
}
.fa-clock {
  font-size: 11px;
}
.ti-text span {
  font-size: 80%;
}
.theory {
  padding: 30px 0;
  background-color: #000000;
}
.theory-title {
  position: absolute;
  bottom: 40px;
  left: 30px;
}
.theory-title h6 {
  text-shadow: 2px 2px black;
  color: white;
  font-size: 25px;
  transition: all 0.3s;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.theory-title span {
  color: #d8d8d8;
}
.theory-body-title h6 {
  color: white;
  margin-bottom: 10px;
}
.theory-body-title span {
  color: #d8d8d8;
  font-style: italic;
}
.theory-body-title {
  margin-left: 15px;
}
.theory-thumbnail {
  width: 110px;
}
.theory-thumbnail img {
  width: 110px;
}

.bigbang-img {
  background-image: url(../../images/news/big-bang-33344.jpg);
}
.theory .bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 419px;
}
.theory-select .nav-item {
  background-color: #393c3d;
  border: none !important;
}
.theory-select ul {
  display: block;
  overflow-x: hidden;
  position: relative;
  height: 419px;
  /* overflow-y: scroll; */
}
.theory-select ul::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #393c3d;
}
.theory-select ul::-webkit-scrollbar {
  width: 6px;
}
.theory-select ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgb(131, 133, 134);
  border-left-color: #c20000;
}

.theory .nav-link {
  padding: 20px;
  border-left: 4px solid transparent;
  transition: all 0.3s;
}
.theory .nav-pills .nav-link {
  border-radius: 0;
}
.theory .bg-img:hover .theory-title h6 {
  color: #c20000;
}
.theory-title span {
  color: #ababab;
  font-style: italic;
}
@media screen and (max-width: 1199px) {
  .theory-body-title span {
    font-size: 13px;
  }
}
.earth-img {
  background: url(../../images/news/earth-evo.jpg);
}
button.selected {
  background-color: #c20000;
}
.black-img {
  background: url(../../images/news/astronaut-entering-black-hole-4k-y2-1920x1080.jpg);
}
.text-muted {
  color: #c7c7c7 !important;
}
.solar-system-img {
  background-image: url(../../images/news/the-solar-system.jpg);
}

/* .latest-news .container {
    border-bottom: 1px solid #fff;
    padding-bottom: 50px;
  } */
@media screen and (max-width: 425px) {
  .tab-pane .thumb-nail {
    width: 55%;
  }
  .body h2.title {
    max-height: 50px;
  }
  .body p {
    max-height: 46px;
  }
}

.latest-news .nav-link:hover {
  color: #c4c4c4 !important;
}
.comment-display .row:last-child {
  margin-bottom: 20px;
}
