.contact {
  padding-top: 100px;
  background-image: url(../../images/login_signup/bg-login.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.contact-inner {
  position: relative;
  z-index: 9;
}
.contact-inner h2 {
  color: white;
  margin-bottom: 2rem;
}

.contact-right {
  padding: 0 2rem;
}
.name-box,
.email-box {
  position: relative;
}
.name-box input,
.email-box input {
  width: 100%;
  padding: 10px 0;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fdbb2d;
  outline: none;
  background: transparent;
}
.name-box input:focus,
.email-box input:focus {
  border-bottom: 1px solid #f72585;
  transition: all 1s ease;
}

.name-box label,
.email-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fdbb2d;
  pointer-events: none;
  transition: 0.5s;
}
.name-box input:focus ~ label,
.name-box input:valid ~ label,
.email-box input:focus ~ label,
.email-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f72585;
  font-size: 14px;
}
textarea {
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  outline: 1px solid #fdbb2d;
}
textarea:focus-visible {
  outline: 1px solid #f72585;
}
#contact-btn {
  background: linear-gradient(45deg, #f72585 30%, #fdbb2d);
  padding: 0.5rem 2rem;
  border: none;
  box-shadow: 0 4px 2px 0px black;
  color: white;
  border-radius: 24px;
  transition: 0.5s;
}

#contact-btn:hover {
  background: linear-gradient(0deg, #f72585 30%, #fdbb2d);
  transform: scale(1.02);
}
.btn:focus,
.btn-primary:focus {
  box-shadow: none;
}
/* AFTER CHECK */
.success-img img {
  width: 60%;
}
.alert-link {
  color: #14a5d3 !important;
}
.incorrect-alert {
  display: none;
}
.incorrect-alert.show {
  display: block;
}
