@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@font-face {
  font-family: "Superstar X";
  src: url(../font/SuperstarX-5E7G.ttf);
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #1a2430;

}
.space-font {
  font-family: "Superstar X";
}
/* PRELOADER */
#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #101113;
  z-index: 2000;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0e4a99;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #14a5d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fcbf1e;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* NAVBAR */
.navbar {
  padding: 0px 15px;
  z-index: 999;
  height: 60px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar {
  background: transparent;
}
.navbar.active {
  background: linear-gradient(
    325deg,
    #f72585 0%,
    #7209b7 25%,
    #3a0ca3 50%,
    #4361ee 75%,
    #4cc9f0 100%
  );
}
.navbar-brand img {
  max-height: 40px;
}
.navbar button a {
  text-decoration: none;
  color: white;
}
.btn-navbar {
  background: linear-gradient(45deg, #f72585 30%, #fdbb2d);
  border: none;
  box-shadow: 0 4px 2px 0px black;
  color: white;
  border-radius: 8px;
  transition: 0.5s;
}
.btn-navbar:hover {
  background: linear-gradient(0deg, #f72585 30%, #fdbb2d);
  transform: scale(1.1);
  color: white;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}
.navbar-dark .navbar-nav .nav-link.active {
  color: yellow !important;
}
.nav-link:hover {
  color: yellow !important;
}
.dropdown-menu {
  background-image: linear-gradient(
    109.5deg,
    rgba(76, 221, 242, 1) 11.2%,
    rgba(92, 121, 255, 1) 91.1%
  );
}
.navbar-dark .navbar-nav .dropdown-item:hover {
  background: rgba(76, 221, 242, 1);
}
/* Animation nav-mobile Button */
.navbar-dark .navbar-toggler {
  border-color: transparent;
  outline: none;
}
.nav .navbar-toggler:focus,
.nav .navbar-toggler:active {
  outline: none;
}

.navbar-dark .navbar-toggler-icon {
  background: none;
  position: relative;
}
.navbar-toggler-icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fcbf1e;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-toggler-icon span::after,
.navbar-toggler-icon span::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fcbf1e;
  position: absolute;
}
.navbar-toggler-icon span::after {
  top: 8px;
  left: 0;
}
.navbar-toggler-icon span::before {
  top: -8px;
  left: 0;
}
.navbar-toggler-icon.rotate span {
  background-color: transparent;
}
.navbar-toggler-icon.rotate span::before,
.navbar-toggler-icon.rotate span::after {
  top: 0;
  left: 0;
}
.navbar-toggler-icon.rotate span::before {
  animation: rotate-ham1 0.5s linear forwards;
}
.navbar-toggler-icon.rotate span::after {
  animation: rotate-ham2 0.5s linear forwards;
}
@keyframes rotate-ham1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
@keyframes rotate-ham2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}
@media screen and (min-width: 768px) {
  .navbar-collapse {
    justify-content: space-between;
  }
}
@media screen and (max-width: 767.98px) {
  .navbar {
    height: 50px;
  }

  .navbar-btn {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding-top: 1rem;
    margin: 0 !important;
  }
  #collapsibleNavbar {
    /* border-top: 1px solid gray; */
    background-image: linear-gradient(
      -76.9deg,
      rgba(255, 90, 90, 1) 27.2%,
      rgba(130, 5, 255, 1) 79.9%
    );
    padding: 1.5rem;
    margin-top: 12px;
  }
}
/* SEARCH MODAL */
.modal {
  top: 125px;
}
.modal-body input {
  width: 90%;
}
.modal-body button {
  border: none;
  background-color: #14a5d3;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}
/* BANNER */
.banner {
  position: relative;
  overflow: hidden;
}
.banner img {
  width: 100%;
}
.solar-system-bg {
  position: absolute;
  top: -8%;
  left: -220px;
  width: 100%;
  transform: rotateZ(45deg);
  z-index: 3;
}
.solar-system-bg img {
  width: 50%;
}
.banner-content {
  position: absolute;
  top: 40%;
  right: 10%;
  z-index: 10;
}
.banner-content h1 {
  color: white;
}

.banner-content a {
  text-decoration: none;
  cursor: pointer;
  color: #fdbb2d;
}
.banner-content .bi-chevron-double-down {
  height: 36px;
  width: 36px;
}
.banner-content .astro-mark {
  font-size: 4rem;
}
.astro-mark {
  background: -webkit-linear-gradient(0deg, #f72585 30%, #4361ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Righteous", cursive;
}
.astro-mark-1 {
  background: -webkit-linear-gradient(100deg, #f72585 30%, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Righteous", cursive;
}
.astro-mark-link {
  background: -webkit-linear-gradient(100deg, #f72585 30%, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.astro-mark-link:hover {
  transform: scale(1.1);
  background: -webkit-linear-gradient(0deg, #1d976c 30%, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.astro-mark-link-1 {
  background: -webkit-linear-gradient(0deg, #4cc9f0 30%, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-content p {
  margin-top: 4rem;
  color: #fdbb2d;
  position: relative;
  padding-bottom: 2rem;
}
.banner-content .mark-down {
  position: absolute;
  top: 0;
  left: 140px;
  animation: bounce 0.8s linear infinite;
}
@keyframes bounce {
  0% {
    top: -10px;
  }
  25% {
    top: -20px;
  }
  50% {
    top: -10px;
  }
  75% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}
.moving-star-1 {
  position: absolute;
  top: 10%;
  left: 50%;
  animation: starMoving1 8s linear infinite;
}
.moving-star-2 {
  position: absolute;
  top: 10%;
  left: 90%;
  animation: starMoving2 12s linear infinite;
}
.moving-star-3 {
  position: absolute;
  top: 40%;
  left: 90%;
  animation: starMoving3 10s linear infinite;
}
.moving-star img {
  width: 7%;
}

@keyframes starMoving1 {
  0% {
    top: -10%;
    left: 70%;
  }
  100% {
    top: 60%;
    left: -10%;
  }
}
@keyframes starMoving2 {
  0% {
    top: -10%;
    left: 90%;
  }
  100% {
    top: 100%;
    left: -10%;
  }
}
@keyframes starMoving3 {
  0% {
    top: 10%;
    left: 110%;
  }
  100% {
    top: 110%;
    left: 30%;
  }
}

/* Responsive banner */
@media screen and (min-width: 1600px) {
  .solar-system-bg {
    left: -300px;
    top: -16%;
  }
}
@media screen and (max-width: 1024px) {
  .solar-system-bg {
    left: -180px;
  }
  .banner-content h1 {
    font-size: 32px;
  }
  .banner-content .astro-mark {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .solar-system-bg {
    left: -120px;
  }
  .banner-content h1 {
    font-size: 24px;
  }
  .banner-content .astro-mark {
    font-size: 2rem;
  }
  .banner-content .bi-chevron-double-down {
    height: 28px;
    width: 28px;
  }
}
@media screen and (max-width: 540px) {
  .solar-system-bg {
    left: -80px;
    top: -5%;
  }
  .banner-content h1 {
    font-size: 14px;
  }
  .banner-content .astro-mark {
    font-size: 1.5rem;
  }
  .banner-content .bi-chevron-double-down {
    height: 20px;
    width: 20px;
  }
  .banner-content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 376px) {
  .solar-system-bg {
    left: -60px;
    top: 0;
  }
  .banner-content h1 {
    font-size: 12px;
  }
  .banner-content .astro-mark {
    font-size: 1.2rem;
  }
  .banner-content p {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 320px) {
  .banner-content p {
    margin-top: 2rem;
  }
}



/* SCROLL TOP BUTTON */
.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 2rem;
  right: 1rem;
  display: none;
}
.scroll-top-btn.show {
  display: block;
}
.scroll-outer {
  /* background-color: #fcbf1e; */
}
.scroll-outer i {
  padding: 0.75rem;
  color: #fcbf1e;
  font-size: 2rem;
  animation: upAndDown 1s linear infinite;
  cursor: pointer;
}
@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translate(0);
  }
}

.planets-title{
    background-image: url(../../images/planets-images/main-planets/Best-Gray-Wallpaper.jpg);
    margin-top: 60px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1{
    text-align: center;
    font-size: 65px;
}

.content-planets{
    background-color: #fff;
    color: #101113;
}
.solar-system{
    padding-top: 100px;
}
.solar-system h2{
    text-align: center;
}
.planets-row{
  margin-top: 30px;
}
.planets-row img{
  width: 150px;
}


.other-planets {
  margin-top: 100px;
}
.other-planets h2{
  text-align: center;
}

.planets-card{
  border: 2px solid #EAE6DC;
  border-radius: 6px;
  margin: 0;
  min-height: 300px;
  margin-bottom: 20px;
}
.planets-card-item1{
  background-color: #EAE6DC;
}
.planets-card-item2{
  background-color: #F4F2ED;
}
.planets-card-item2 h2{
  text-align: start;
}
.btn-gradient {
  background: linear-gradient(to right, #f72585 0%, #4361ee 51%, #f72585 100%);
  border: none;
  color: white;
  transition: 0.5s;
  background-size: 200% auto;
  font-family: "Ubuntu", sans-serif;
}
.btn-gradient:hover {
  background-position: right center;
  text-decoration: none;
  transform: scale(1.05);
  color: white;
}
/* FOOTER */
#footer {
  background: url(../../images/footer-bg.jpeg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.logo-footer img {
  width: 200px;
}
#footer a {
  display: block;
  color: white;
}
#footer .fl-icon {
  font-size: 2rem;
}
.fl-icon .fa-facebook {
  color: #1877f2;
}
.fl-icon .fa-instagram {
  color: #e4405f;
}
.fl-icon .fa-pinterest {
  color: #bd081c;
}
.footer-column a {
  padding-left: 1rem;
}
/* SCROLL TOP BUTTON */
.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 2rem;
  right: 1rem;
  display: none;
}
.scroll-top-btn.show {
  display: block;
}
.scroll-outer {
  /* background-color: #fcbf1e; */
}
.scroll-outer i {
  padding: 0.75rem;
  color: #fcbf1e;
  font-size: 2rem;
  animation: upAndDown 1s linear infinite;
  cursor: pointer;
}
@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translate(0);
  }
}
