@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background: url(../../images/planets-images/bg-fill.gif);
}
h3{
   color: #2fa4e7;
}
h4{
  color: #2fa4e7;
}
/* PRELOADER */
#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #101113;
  z-index: 2000;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0e4a99;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #14a5d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fcbf1e;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* NAVBAR */
.navbar {
  padding: 0px 15px;
  z-index: 999;
  height: 60px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar.bg-dark {
  background: linear-gradient(
    325deg,
    rgba(247, 37, 133, 1) 0%,
    rgba(114, 9, 183, 1) 25%,
    rgba(58, 12, 163, 1) 50%,
    rgba(67, 97, 238, 1) 75%,
    rgba(76, 201, 240, 1) 100%
  );
}
.navbar-brand img {
  max-height: 40px;
}
.navbar button a {
  text-decoration: none;
  color: #120136;
}
/* Animation nav-mobile Button */
.navbar-dark .navbar-toggler {
  border-color: transparent;
}
.navbar-dark .navbar-toggler-icon {
  background: none;
  position: relative;
}
.navbar-toggler-icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fcbf1e;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-toggler-icon span::after,
.navbar-toggler-icon span::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fcbf1e;
  position: absolute;
}
.navbar-toggler-icon span::after {
  top: 8px;
  left: 0;
}
.navbar-toggler-icon span::before {
  top: -8px;
  left: 0;
}
.navbar-toggler-icon.rotate span {
  background-color: transparent;
}
.navbar-toggler-icon.rotate span::before,
.navbar-toggler-icon.rotate span::after {
  top: 0;
  left: 0;
}
.navbar-toggler-icon.rotate span::before {
  animation: rotate-ham1 0.5s linear forwards;
}
.navbar-toggler-icon.rotate span::after {
  animation: rotate-ham2 0.5s linear forwards;
}
@keyframes rotate-ham1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
@keyframes rotate-ham2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}
@media screen and (min-width: 768px) {
  .navbar-collapse {
    justify-content: space-between;
  }
}
@media screen and (max-width: 767.98px) {
  .navbar {
    height: 50px;
  }

  .navbar-btn {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding-top: 1rem;
    margin: 0 !important;
  }
  #collapsibleNavbar {
    /* border-top: 1px solid gray; */
    background-color: #0e4a99;
    padding: 1.5rem;
    margin-top: 12px;
  }
}
/* SEARCH MODAL */
.modal {
  top: 125px;
}
.modal-body input {
  width: 90%;
}
.modal-body button {
  border: none;
  background-color: #14a5d3;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}
/* CONTENT */
.content_planets{
  margin-top: 100px;
}
/* SELECT_planets */
.select_option h2{
  color: #2fa4e7;
}
.select_option select{
 width: 200px;
 color: #0f84c7;
 font-size: 14px;
}
.wrap{
  margin: auto;
}
.box{
  color: #fff;
  padding: 20px;
  display: none;
  margin-top: 20px;
}
.inner{
  margin-top: 2px;
  padding: 0;
  max-width: 200px;
}
.outer{
  margin-top: 2px;
  padding: 0;
  max-width: 200px;
}
.other{
  margin-top: 2px;
  padding: 0;
  max-width: 200px;
  
}
.solar_system{
  margin-top: 20px;
}
.solar_system a{
  text-decoration: none;
}
.planets_item{
  color: #2fa4e7;
  display: block;
  position: relative;
  margin-bottom: 40px;
  border: 1px solid #2fa4e7;
}

.body_item{
  padding: 5px 10px;
}
.name_item{
  font-weight: 500;
  font-size: 25px;
}
.text_item{
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  font-size: 11px;
  color: #fff;
}

.Bg1{
  background: url(../../images/planets-images/mercury.jpg)no-repeat center / cover;
  height: 200px;
}
.Bg2{
  background: url(../../images/planets-images/venus.jpg)no-repeat center / cover;
  height: 200px;
}
.Bg3{
  background: url(../../images/planets-images/earth.jpg)no-repeat center / cover;
  height: 200px;
}
.Bg4{
  background: url(../../images/planets-images/mars.jpg)no-repeat center / cover;
  height: 200px;
}
.Bg5{
  background: url(../../images/planets-images/jupiter.jpg)no-repeat center / cover;
  height: 200px;
}
.Bg6{
  background: url(../../images/planets-images/saturn.jpg)no-repeat center / cover;
  height: 200px;
}
.Bg7{
  background: url(../../images/planets-images/uranus.jpg)no-repeat center / cover;
  height: 200px;
}
.Bg8{
  background: url(../../images/planets-images/neptune.jpg)no-repeat center / cover;
  height: 200px;
}
.Bg9{
  background: url(../../images/planets-images/pluto.jpg)no-repeat center / cover;
  height: 200px;
}
.Bg10{
  background: url(../../images/planets-images/eris.jpg)no-repeat center / cover;
  height: 200px;
}
.Bg11{
  background: url(../../images/planets-images/orcus.jpg)no-repeat center / cover;
  height: 200px;
}

/* END SELECT_planets */

.planets_about{
  position: relative;
  color: #fff;
}
.name_planets{
  background-color: #192a58;
  border: 3px solid white;
  text-align: center;
  padding: 0 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 30px;
  font-weight: 500;
} 
.planets_facts{
  font-size: 14px;
  margin-right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 20px;
  background-color:  #101113;
  max-height: 1000px;
}
.summaryBg{
  background: url(../../images/planets-images/mecury/mercury-v2\ -\ Copy.jpg)no-repeat center / cover;
  min-height: 400px
}
.summaryBg2{
  background: url(../../images/planets-images/venus/venus-background.png)no-repeat center / cover;
  min-height: 400px
}
.summaryBg3{
  background: url(../../images/planets-images/earth/earth-backgroud.png)no-repeat center / cover;
  min-height: 400px
}
.summaryBg4{
  background: url(../../images/planets-images/mars/mars-background.png)no-repeat center / cover;
  min-height: 400px
}
.summaryBg5{
  background: url(../../images/planets-images/jupiter/jupiter-bg.png)no-repeat center / cover;
  min-height: 400px
}
.summaryBg6{
  background: url(../../images/planets-images/saturn/saturn-bg.jpg)no-repeat center / cover;
  min-height: 400px
}
.summaryBg2{
  background: url(../../images/planets-images/venus/venus-background.png)no-repeat center / cover;
  min-height: 400px
}
.summaryBg2{
  background: url(../../images/planets-images/venus/venus-background.png)no-repeat center / cover;
  min-height: 400px
}
.summaryBg2{
  background: url(../../images/planets-images/venus/venus-background.png)no-repeat center / cover;
  min-height: 400px
}
.summaryBg2{
  background: url(../../images/planets-images/venus/venus-background.png)no-repeat center / cover;
  min-height: 400px
}
.summaryBg2{
  background: url(../../images/planets-images/venus/venus-background.png)no-repeat center / cover;
  min-height: 400px
}
.facts1{
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.facts1 p:first-child::first-letter{
  float: left;
  font-size: 50px;
  initial-letter: 2;
  line-height: 0.7;
  padding: 0 3px;
  color: #2fa4e7;
}
.widget{
 padding: 0 10px 0 15px;
}
.widget_header{
  border-left: 6px #2fa4e7 solid;
}
.widget_header h6{
  color: #2fa4e7;
  padding-left: 5px;
} 
.textwidget{
  padding-left: 4px;
  font-size: 13px;
}
.column-1 {
  vertical-align: top;
  padding: 5px;
}
.column-2{
  padding: 5px;
  vertical-align: top;
}
.facts2{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.facts2_list{
  padding-right: 5px;
}
.facts2_list h4{
  border-left: 6px #2fa4e7 solid;
  padding-left: 10px;
  margin-left: 15px;
}
/*YOUTUBE*/
.wy {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  }
.youtube {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  }
 
 .youtube iframe, .youtube object, .youtube embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  }
 /* END YOUTUBE */
 hr.sep-2 {
  border: 0; 
  height: 1px; 
  margin: 20px 40px 10px;
  background-image: linear-gradient(to right, #423d3d, #f0f0f0,#41d9c0, #00b9ff,#0c39b4,#00b9ff, #41d9c0, #f0f0f0,#423d3d);
}
.facts3{
 margin: 10px 15px;
} 
.facts3_item{
  display: flex;
  flex-direction: row;
  mar
}
.facts3_item2{
  display: flex;
  flex-direction: row;
}
.facts3_item img{
  max-width: 250px;
} 
.facts3_item p{
  padding-left: 15px;
  margin-top: 50px;
}
.facts3_item2 img{
  width: 35%;
}
.facst3_text{
  margin: 10px 100px 0 30px ;
}
.facst3_text h4{
  border-left: 6px #2fa4e7 solid;
  padding-left: 10px;
}
.title-line h2{
  position: relative;
  display: inline;
  padding: 0 1rem;
  z-index: 5;
  background-color: #101113;
  color: #14a5d3;
  margin-left: 2rem;
}
.title-line h3{
  position: relative;
  display: inline;
  padding: 0 1rem;
  z-index: 5;
  background-color: #101113;
  color: #14a5d3;
  margin-left: 2rem;
}
.facts4_item p{
  margin: 5px 15px;
}
.facts4_item img{
  width: 600px;
  margin: auto;
  width: 50%;
  margin-left: 25%;
}
.earth-layer{
  display: flex;
  flex-direction: row;
  margin: 5px 15px;
}
.earth-layer p{
  padding-top: 20px;
}
.earth-layer img{
  width: 30%;
}

.facts5 {
  margin: 5px 5px 10px 10px;
}
.facts5 .facts3_item-earth img{
  width: 40%;
  height: auto;
}
.facts3_item-earth{
  display: flex;
  flex-direction: row;
}

.facts5 ul{
  list-style: none;
}
.facts5 li{
  padding: 15px 20px 0 0;
}
::-webkit-scrollbar{
  width: 3px;
}
::-webkit-scrollbar-thumb{
  background-color: #4686aa;
  border-radius: 10px;
}
@media screen and (max-width: 767.98px){
  .select_option{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .inner,.outer,.other{
    max-width: 100%;
  }
  .solar_system{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
    justify-content: space-between;
 }
 .planets_about{
   width: 100%;
   padding: 0;
   margin-top: 10px;
 }
 .name_planets{
   display: none;
 }
 .facts3_item img{
  height: 155px;
  margin-top: 20px;
}
.planets_item{
  width: 130px;
  max-height: 130px ;
  margin-left: 5px;
  margin-bottom: 0;
}
.text_item{
  display: none;
}
.Bg1{
  background: url(../../images/planets-images/mercury.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg2{
  background: url(../../images/planets-images/venus.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}  
.Bg3{
  background: url(../../images/planets-images/earth.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg4{
  background: url(../../images/planets-images/mars.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg5{
  background: url(../../images/planets-images/jupiter.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg6{
  background: url(../../images/planets-images/saturn.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg7{
  background: url(../../images/planets-images/uranus.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;;
}
.Bg8{
  background: url(../../images/planets-images/neptune.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg9{
  background: url(../../images/planets-images/pluto.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg10{
  background: url(../../images/planets-images/eris.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg11{
  background: url(../../images/planets-images/orcus.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.facts3_item-earth{
  display: flex;
  flex-direction: column;
}
.facts3_item-earth img{
  margin: 0 25%;
}
}

@media screen and (min-width: 767.98px)and (max-width:991px){
  .select_option{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .inner,.outer,.other{
    max-width: 100%;
  }
  .solar_system{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
    justify-content: space-between;
 }
 .planets_about{
  width: 100%;
  padding: 0;
  padding-top: 20px;
}
.name_planets{
  display: none;
}
 .facts3_item img{
  height: 155px;
  margin-top: 20px;
  
}
.planets_item{
  width: 130px;
  max-height: 130px ;
  margin-left: 20px;
  margin-bottom: 0;
}
.text_item{
  display: none;
}
.Bg1{
  background: url(../../images/planets-images/mercury.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg2{
  background: url(../../images/planets-images/venus.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}  
.Bg3{
  background: url(../../images/planets-images/earth.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg4{
  background: url(../../images/planets-images/mars.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg5{
  background: url(../../images/planets-images/jupiter.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg6{
  background: url(../../images/planets-images/saturn.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg7{
  background: url(../../images/planets-images/uranus.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;;
}
.Bg8{
  background: url(../../images/planets-images/neptune.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg9{
  background: url(../../images/planets-images/pluto.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg10{
  background: url(../../images/planets-images/eris.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.Bg11{
  background: url(../../images/planets-images/orcus.jpg)no-repeat center / cover;
  width: 128px;
  height: 127px;
}
.facts3_item-earth{
  display: flex;
  flex-direction: column;
}
.facts3_item-earth img{
  margin: 0 25%;
}
} 


/* END CONTENT */

/* CONTACT */
.contact {
  color: #ffffff;
  font-style: italic;
}
.hr_icon1{
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.hr_icon2{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.contact img{
  margin: 5px 0;
}
.contact_comment{
  margin: 0 22% 15px 10px;
}
.contact_comment label{
  color: #2fa4e7 ;
  font-size: 18px;
  margin-left: -10px;
  margin-bottom: 3px;
}
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=submit]{
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #002fff;
}

@media screen and (max-width: 767.98px){
  .contact_comment{
    margin: 10px;
  }
}  

/* END CONTACT */

.title-line {
  position: relative;
}
.title-decor {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #213046;
  top: 50%;
  left: 0;
}
.title-line h2 {
  position: relative;
  display: inline;
  padding: 0 1rem;
  z-index: 5;
  background-color: #000000;
  color: #14a5d3;
  margin-left: 2rem;
}
.card-glass {
  background-color: rgba(52, 41, 75, 0.2);
  color: white;
  min-height: 260px;
  backdrop-filter: blur(15px);
  box-shadow: inset 0px 15px 15px -10px rgba(0, 162, 255, 0.5),
    inset 0px -15px 15px -10px rgba(0, 162, 255, 0.5);
}

/* ASTRONOMY NEWS */
.astronomy-news {
  background-color: #101113;
  color: white;
  padding: 2rem 0;
}
.astronomy-news .card-title {
  color: #ffc947;
}
.astronomy-news .card {
  border: 1px solid #2fa4e7;
}
.astronomy-news .card-left {
  background: url(../../images/planets-images/bigbang-theory.jpg) no-repeat center / cover;
  height: 100%;
}
.astronomy-news .card-right-top {
  background: url(../../images/planets-images/blackhole.jpg) no-repeat center / cover;
  height: 100%;
}
.astronomy-news .card-right-bt-left {
  background: url(../../images/planets-images/evolution-earth.jpg) no-repeat center / cover;
  height: 100%;
}
.astronomy-news .card-right-bt-right {
  background: url(../../images/planets-images/the-solar-system.jpg) no-repeat center / cover;
  height: 100%;
}
.astronomy-news .news-title {
  backdrop-filter: blur(15px);
  width: 100%;
  padding: 1rem;
}
.astronomy-news .news-titles {
  padding: 1rem;
  background-color: rgba(16, 17, 19, 0.5);
}
.mg-card-left,
.mg-card-right {
  padding: 0.25rem;
}
@media screen and (max-width: 767.9px) {
  .mg-card-left,
  .mg-card-right {
    padding: 1rem;
  }
  .mg-card-right,
  .mg-card-left {
    margin-bottom: 1rem;
  }
}

/* FOOTER */
#footer {
  background: url(../../images/planets-images/footer.jpg) no-repeat center / cover;
  background-attachment: fixed;
  color: white;
  padding: 2rem;
  border-top: 1px solid #213046;
}
.logo-footer img {
  width: 200px;
}
#footer a {
  display: block;
  color: white;
}
#footer .fl-icon {
  font-size: 2rem;
}
.fl-icon .fa-facebook {
  color: #1877f2;
}
.fl-icon .fa-instagram {
  color: #e4405f;
}
.fl-icon .fa-pinterest {
  color: #bd081c;
}
/* SCROLL TOP BUTTON */
.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 2rem;
  right: 1rem;
  display: none;
}
.scroll-top-btn.show {
  display: block;
}
.scroll-outer {
  /* background-color: #fcbf1e; */
}
.scroll-outer i {
  padding: 0.75rem;
  color: #fcbf1e;
  font-size: 2rem;
  animation: upAndDown 1s linear infinite;
  cursor: pointer;
}
@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translate(0);
  }
}
